.DualSlider {
    width: 100%;
    /*border-left: 3px solid var(--myBlue);*/

    p {
        width: 60%;
        margin: 0 auto;

        input {
            width: 100%;
            margin: 0 auto;
        }

        span {
            white-space: nowrap;
            display: inline-block;
        }
    }
}
