.Filter {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 90%;
    height: min-content;
    justify-self: center;
    background-color: #222;
    border-radius: 1em;
    padding: 1em 0;
    font-size: 0.8em;

    h2 {
        border-bottom: 3px solid var(--myBlue);
        width: 90%;
        padding: 0;
        margin: 0 auto 1em;
    }
    h3 {
        margin: 1em 0 0.5em;
    }
    .movieGenres {
        display: block;
        width: 70%;
        margin: 0 auto;
        white-space: normal;
        text-align: left;
        text-overflow: clip;
        .genreItem {
            display: inline-block;
            font-size: 0.9em;
            margin-bottom: 0.2em;
            background-color: #444;
            cursor: pointer;

            &.selected {
                background-color: var(--myBlue);
            }
            &:hover {
                transform: scale(1.1);
            }
        }
    }


}
