.Header {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr 1fr 1fr;
    margin: 0;
    padding: 0.2em 1em;
    background-color: #222;
    grid-column-gap: 0.5em;
    h1 {
       color: white;
       text-align: left;
    }
    .navBar {
        grid-column: 2/3;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li  {
            box-sizing: border-box;
        }
        li:hover {
            
            /* transform: scale(1.2);*/
        }
        .activeLink {
            border-bottom: 3px solid var(--myBrightBlue);
        }
    }
}

