.ReviewForm {
    .submitButton {
        border-radius: 0.7em;
        padding: 0.3em;
        background-color: #FFF;
        color: #000;
        margin-top: 0.5em;

        &[disabled] {
            background-color: #555;

            &:hover {
                transform: scale(1);
            }
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    .ratingSlider {
        input {
        }

        span {
            display: inline-block;
            width: 6em;
            margin-left: 1em;
        }
    }
}
