.SearchResults {
    display: grid;
    grid-template-columns: 1.4fr 70% 0.6fr;
    grid-template-rows: min-content auto auto;
    grid-column-gap: 1em;
    margin-top: 1em;

    .listTitle {
        grid-column: 2/3;
        border-bottom: 1px solid #AAA;
        margin-bottom: 1em;
        text-align: left;
        font-size: 1.1em;
        small {
            font-size: 1em;
        }
    }

    .MoviesList {
        grid-column: 2/3;
        grid-row-start: 2;
    }
}