.UserReviews {
    width: 70%;
    margin: 2em auto 0;

    .reviewsList {
        width: max-content;
        display: flex;
        flex-direction: column;
        /*align-items: stretch;*/
        margin: 1em auto;
    }

    .Movie {
        flex-shrink: 0;
        transform: scale(0.9);
        margin: 0;
    }

    .userReview {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: #333;
        margin-bottom: 1em;

        h3 {
            margin-left: 2em;
        }
    }

    big {
        font-size: 2.5em;
        margin: 0.5em;
    }
}
